In [1]:
from pyspark.sql import SparkSession
import findspark
findspark.init()

In [2]:
spark = SparkSession.builder.master('local[*]').appName("Introdução à Spark").config('spark.ui.port', '4050').getOrCreate()
spark

your 131072x1 screen size is bogus. expect trouble
23/06/22 09:10:31 WARN Utils: Your hostname, predator resolves to a loopback address: 127.0.1.1; using 172.20.67.13 instead (on interface eth0)
23/06/22 09:10:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/22 09:10:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [('Zeca', '35'), ('Eva', '29')]
colNames = ['Nome', 'Idade']
df = spark.createDataFrame(data, colNames)
df

DataFrame[Nome: string, Idade: string]

In [4]:
df.show()

+----+-----+
|Nome|Idade|
+----+-----+
|Zeca|   35|
| Eva|   29|
+----+-----+

In [6]:
path = 'empresas/'
empresas = spark.read.csv(path, sep=';', inferSchema=True)
empresas.count()

4585679

In [7]:
path = 'socios/'
socios = spark.read.csv(path, sep=';', inferSchema=True)
socios.count()

2046430

In [8]:
path = 'estabelecimentos/'
estabelecimentos = spark.read.csv(path, sep=';', inferSchema=True)
estabelecimentos.count()

4836219

In [9]:
empresas.limit(5).toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6
0,403,ALUPE REPRESENTACOES LTDA,2240,49,"0,00",1,None
1,2498,JCA COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",5,None
2,4599,ROSA MARIA DE PAIVA MENEZES,2135,50,"0,00",5,None
3,13090,ADELINA ZANETI PARDINI,2135,50,"0,00",1,None
4,16903,PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICA...,2224,43,"0,00",5,None

In [10]:
empresasNomesColunas = [
    'cnpj_basico', 
    'razao_social_nome_empresarial', 
    'natureza_juridica', 
    'qualificacao_do_responsavel', 
    'capital_social_da_empresa', 
    'porte_da_empresa', 
    'ente_federativo_responsavel'
]

In [11]:
for indice, nomeColuna in enumerate(empresasNomesColunas):
    empresas = empresas.withColumnRenamed(f"_c{indice}", nomeColuna)

empresas.columns

['cnpj_basico',
 'razao_social_nome_empresarial',
 'natureza_juridica',
 'qualificacao_do_responsavel',
 'capital_social_da_empresa',
 'porte_da_empresa',
 'ente_federativo_responsavel']

In [12]:
estabelecimentosNomeColunas = [
    'cnpj_basico', 
    'cnpj_ordem', 
    'cnpj_dv', 
    'identificador_matriz_filial', 
    'nome_fantasia', 
    'situacao_cadastral', 
    'data_situacao_cadastral', 
    'motivo_situacao_cadastral', 
    'nome_da_cidade_no_exterior', 
    'pais', 
    'data_de_inicio_atividade', 
    'cnae_fiscal_principal', 
    'cnae_fiscal_secundaria', 
    'tipo_de_logradouro', 
    'logradouro', 
    'numero', 
    'complemento', 
    'bairro', 
    'cep', 
    'uf', 
    'municipio', 
    'ddd_1', 
    'telefone_1', 
    'ddd_2', 
    'telefone_2', 
    'ddd_do_fax', 
    'fax', 
    'correio_eletronico', 
    'situacao_especial', 
    'data_da_situacao_especial'
]

sociosNomeColunas = [
    'cnpj_basico', 
    'identificador_de_socio', 
    'nome_do_socio_ou_razao_social', 
    'cnpj_ou_cpf_do_socio', 
    'qualificacao_do_socio', 
    'data_de_entrada_sociedade', 
    'pais', 
    'representante_legal', 
    'nome_do_representante', 
    'qualificacao_do_representante_legal', 
    'faixa_etaria'
]

for indice, nome in enumerate(estabelecimentosNomeColunas):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{indice}", nome)

for indice, nome in enumerate(sociosNomeColunas):
    socios = socios.withColumnRenamed(f"_c{indice}", nome)

In [14]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,403,ALUPE REPRESENTACOES LTDA,2240,49,"0,00",1,None
1,2498,JCA COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",5,None
2,4599,ROSA MARIA DE PAIVA MENEZES,2135,50,"0,00",5,None
3,13090,ADELINA ZANETI PARDINI,2135,50,"0,00",1,None
4,16903,PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICA...,2224,43,"0,00",5,None

In [13]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [15]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,403,2,ARCHIBALDE POUZA JUNIOR,***550688**,49,19941019,NaN,***000000**,None,0,8
1,403,2,MARIA LUCIA DE ARAUJO POUZA,***358948**,22,19941019,NaN,***550688**,ARCHIBALDE POUZA JUNIOR,5,7
2,52803,2,PAULA PAVAN MAMED,***454918**,22,19980831,NaN,***000000**,None,0,6
3,52803,2,NASSIM MAMED JUNIOR,***040608**,49,19980831,NaN,***000000**,None,0,6
4,52803,2,CARLA PAVAN MAMED BONINI,***454898**,22,20130812,NaN,***000000**,None,0,6

In [16]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [17]:
estabelecimentos.limit(5).toPandas()

23/06/22 11:15:26 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,1470,1,70,1,FRUTO DA TERRA,8,19961130,1,None,NaN,...,7079,None,None,None,None,NaN,None,None,None,NaN
1,1894,1,34,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
2,3517,1,34,1,None,8,20081231,71,None,NaN,...,9379,None,None,None,None,NaN,None,None,None,NaN
3,3999,1,22,1,PV-AOKI,2,20051103,0,None,NaN,...,6789,None,None,None,None,NaN,None,None,None,NaN
4,4662,1,30,1,None,8,20151125,1,None,NaN,...,7099,None,None,None,None,NaN,None,None,None,NaN

In [18]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [20]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [21]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [22]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,403,ALUPE REPRESENTACOES LTDA,2240,49,"0,00",1,None
1,2498,JCA COMERCIO E REPRESENTACOES LTDA,2062,49,"0,00",5,None
2,4599,ROSA MARIA DE PAIVA MENEZES,2135,50,"0,00",5,None
3,13090,ADELINA ZANETI PARDINI,2135,50,"0,00",1,None
4,16903,PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICA...,2224,43,"0,00",5,None

In [23]:
empresas = empresas.withColumn('capital_social_da_empresa', f.regexp_replace('capital_social_da_empresa',',', '.'))

In [25]:
empresas = empresas.withColumn('capital_social_da_empresa', empresas['capital_social_da_empresa'].cast(DoubleType()))

In [26]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,1470,1,70,1,FRUTO DA TERRA,8,19961130,1,None,NaN,...,7079,None,None,None,None,NaN,None,None,None,NaN
1,1894,1,34,1,None,8,20081231,71,None,NaN,...,7107,None,None,None,None,NaN,None,None,None,NaN
2,3517,1,34,1,None,8,20081231,71,None,NaN,...,9379,None,None,None,None,NaN,None,None,None,NaN
3,3999,1,22,1,PV-AOKI,2,20051103,0,None,NaN,...,6789,None,None,None,None,NaN,None,None,None,NaN
4,4662,1,30,1,None,8,20151125,1,None,NaN,...,7099,None,None,None,None,NaN,None,None,None,NaN

In [27]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: integer (nullable = true)

In [28]:
estabelecimentos = estabelecimentos.withColumn(
    'data_situacao_cadastral',
    f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), 'yyyyMMdd')    
).withColumn(
    'data_de_inicio_atividade',
    f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), 'yyyyMMdd')   
).withColumn(
    'data_da_situacao_especial',
    f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), 'yyyyMMdd')   
)

In [29]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [30]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,403,2,ARCHIBALDE POUZA JUNIOR,***550688**,49,19941019,NaN,***000000**,None,0,8
1,403,2,MARIA LUCIA DE ARAUJO POUZA,***358948**,22,19941019,NaN,***550688**,ARCHIBALDE POUZA JUNIOR,5,7
2,52803,2,PAULA PAVAN MAMED,***454918**,22,19980831,NaN,***000000**,None,0,6
3,52803,2,NASSIM MAMED JUNIOR,***040608**,49,19980831,NaN,***000000**,None,0,6
4,52803,2,CARLA PAVAN MAMED BONINI,***454898**,22,20130812,NaN,***000000**,None,0,6

In [32]:
socios = socios.withColumn(
    'data_de_entrada_sociedade', 
    f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), 'yyyyMMdd')
)

In [33]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [34]:
empresas.select('*').show(5, False)

+-----------+-------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                                                        |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|403        |ALUPE REPRESENTACOES LTDA                                                            |2240             |49                         |0.0                      |1               |null                       |
|2498       |JCA COMERCIO E REPRESENTACOES LTDA                                                   |2062             |49                         |0.0                      |5               |null                       |
|4599       |ROSA MARIA DE PAIVA MENEZES                                                          |2135             |50                         |0.0                      |5               |null                       |
|13090      |ADELINA ZANETI PARDINI                                                               |2135             |50                         |0.0                      |1               |null                       |
|16903      |PERSONNALITE SPR CURTO PRAZO - FUNDO DE APLICACAO EM QUOTAS DE FUNDOS DE INVESTIMENTO|2224             |43                         |0.0                      |5               |null                       |
+-----------+-------------------------------------------------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [35]:
socios.select(
    'nome_do_socio_ou_razao_social',
    'faixa_etaria',
    f.year('data_de_entrada_sociedade').alias('ano_de_entrada')
).show(5, False)

+-----------------------------+------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|ano_de_entrada|
+-----------------------------+------------+--------------+
|ARCHIBALDE POUZA JUNIOR      |8           |1994          |
|MARIA LUCIA DE ARAUJO POUZA  |7           |1994          |
|PAULA PAVAN MAMED            |6           |1998          |
|NASSIM MAMED JUNIOR          |6           |1998          |
|CARLA PAVAN MAMED BONINI     |6           |2013          |
+-----------------------------+------------+--------------+
only showing top 5 rows

In [36]:
socios.select(
    [f.count(f.when(f.isnull(c), 1)).alias(c) for c in socios.columns]
).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                          208|                1234|                    0|                        1|2038255|                  0|              1995432|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+

In [37]:
socios.na.fill(0).limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,403,2,ARCHIBALDE POUZA JUNIOR,***550688**,49,1994-10-19,0,***000000**,None,0,8
1,403,2,MARIA LUCIA DE ARAUJO POUZA,***358948**,22,1994-10-19,0,***550688**,ARCHIBALDE POUZA JUNIOR,5,7
2,52803,2,PAULA PAVAN MAMED,***454918**,22,1998-08-31,0,***000000**,None,0,6
3,52803,2,NASSIM MAMED JUNIOR,***040608**,49,1998-08-31,0,***000000**,None,0,6
4,52803,2,CARLA PAVAN MAMED BONINI,***454898**,22,2013-08-12,0,***000000**,None,0,6

In [40]:
socios.select(
    'nome_do_socio_ou_razao_social',
    'faixa_etaria',
    f.year('data_de_entrada_sociedade').alias('ano_de_entrada')
).orderBy(
    ['ano_de_entrada', 'faixa_etaria'], ascending=[False, True]
).show(5, False)

+--------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social         |faixa_etaria|ano_de_entrada|
+--------------------------------------+------------+--------------+
|CMJ PARTICIPACOES EIRELI              |0           |2021          |
|CLINICA VETERINARIA PAULO TABANEZ LTDA|0           |2021          |
|AZUMI PARTICIPACOES LTDA              |0           |2021          |
|BFVR PARTICIPACOES LTDA               |0           |2021          |
|4HEALTH SERVICOS MEDICOS LTDA         |0           |2021          |
+--------------------------------------+------------+--------------+
only showing top 5 rows

In [41]:
empresas.filter(
    "capital_social_da_empresa==50"
).show(5, False)

+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|17246115   |RENATO BARBOZA DE SOUZA JUNIOR 24755618827   |2135             |50                         |50.0                     |1               |null                       |
|19319585   |NEUZA JACINTA BARBOSA DE OLIVEIRA 58017569653|2135             |50                         |50.0                     |1               |null                       |
|19553618   |JACILAINE BARBOSA CAEIRA 09943492465         |2135             |50                         |50.0                     |1               |null                       |
|19573045   |MARIA SANTIAGO BARBOSA 05142093640           |2135             |50                         |50.0                     |1               |null                       |
|23322855   |CAROLINA MARI PASSOS DA SILVA 85142344049    |2135             |50                         |50.0                     |1               |null                       |
+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [44]:
socios.select(
    "nome_do_socio_ou_razao_social"
).filter(
    socios.nome_do_socio_ou_razao_social.startswith("NATHAN")
).filter(
    socios.nome_do_socio_ou_razao_social.endswith("A")
).limit(
    10
).toPandas()

     nome_do_socio_ou_razao_social
0           NATHAN HERRERA DE LIMA
1   NATHAN ABDALLA JORDAO DA COSTA
2        NATHAN PRATES DE OLIVEIRA
3    NATHANIEL JOSE VIEIRA PEREIRA
4       NATHANE VENTURA DE MIRANDA
5     NATHAN DIAS COUTRIM DA COSTA
6             NATHAN ANDRADE MEIRA
7  NATHANAEL FELIPE BENTO FERREIRA
8   NATHAN ABDALLA JORDAO DA COSTA
9    NATHANE SANCHES MARQUES SILVA

In [45]:
empresas.select(
    'razao_social_nome_empresarial',
    'natureza_juridica',
    'porte_da_empresa',
    'capital_social_da_empresa'
).filter(
    f.upper(empresas['razao_social_nome_empresarial']).like('%RESTAURANTE%')
).show(15, False)

+-------------------------------------------------------+-----------------+----------------+-------------------------+
|razao_social_nome_empresarial                          |natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-------------------------------------------------------+-----------------+----------------+-------------------------+
|RESTAURANTE AS VIZINHAS LIMITADA                       |2062             |5               |0.0                      |
|POUSADA E RESTAURANTE DINOSSAURO AZUL LTDA             |2062             |1               |0.0                      |
|MACEDO & PEREIRA RESTAURANTE E LANCHONETE LTDA         |2062             |1               |0.0                      |
|ANTONIO RODRIGUES DOS SANTOS RESTAURANTE               |2135             |1               |0.0                      |
|BARRA ARABE RESTAURANTE LTDA                           |2062             |1               |0.0                      |
|RENATA CABRINI CARVALHO DA SILVA OLIVEIRA - RESTAURANTE|2135             |3               |760000.0                 |
|RESTAURANTE MOLL & CORREA LTDA                         |2062             |1               |10000.0                  |
|KATUTI BAR, RESTAURANTE E PIZZARIA LTDA                |2062             |1               |1000.0                   |
|RESTAURANTE VITORIA LTDA                               |2062             |5               |0.0                      |
|RESTAURANTE E CHURRASCARIA NOSTRA MASSA LTDA           |2062             |1               |10000.0                  |
|MERCEARIA E RESTAURANTE PAO DE LO LTDA                 |2062             |1               |0.0                      |
|H B CHIARADIA RESTAURANTE                              |2135             |1               |0.0                      |
|RUDINEIA LORENZONI RODRIGUES RESTAURANTE               |2135             |1               |0.0                      |
|SANTUARIO BISTROT RESTAURANTE LTDA                     |2062             |1               |10000.0                  |
|RESTAURANTE E SORVETERIA WERNER LTDA                   |2062             |1               |0.0                      |
+-------------------------------------------------------+-----------------+----------------+-------------------------+
only showing top 15 rows

In [46]:
socios.select(
    f.year('data_de_entrada_sociedade').alias('ano_de_entrada')
).where(
    'ano_de_entrada >= 2010'
).groupBy(
    'ano_de_entrada'
).count().orderBy(
    'ano_de_entrada', ascending=True
).show()

+--------------+------+
|ano_de_entrada| count|
+--------------+------+
|          2010| 79337|
|          2011| 83906|
|          2012| 80101|
|          2013| 83919|
|          2014| 80590|
|          2015| 80906|
|          2016| 81587|
|          2017| 90221|
|          2018| 99935|
|          2019|118248|
|          2020|125927|
|          2021| 56316|
+--------------+------+

In [47]:
empresas.select(
    'cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa'
).groupBy(
    'porte_da_empresa'
).agg(
    f.avg('capital_social_da_empresa').alias('capital_social_medio'),
    f.count('cnpj_basico').alias('frequencia')
).orderBy(
    'porte_da_empresa', ascending=True
).show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_medio|frequencia|
+----------------+--------------------+----------+
|            null|    8.35421888053467|      5985|
|               1|   339994.5331350705|   3129043|
|               3|  2601001.7677092687|    115151|
|               5|   708660.4208249793|   1335500|
+----------------+--------------------+----------+

In [48]:
empresas.select(
    'capital_social_da_empresa'
).summary().show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                  4585679|
|   mean|       503694.54785426764|
| stddev|     2.1118691490537477E8|
|    min|                      0.0|
|    25%|                      0.0|
|    50%|                   1000.0|
|    75%|                   7000.0|
|    max|         3.22014670262E11|
+-------+-------------------------+

In [49]:
empresas_join = estabelecimentos.join(empresas, 'cnpj_basico', how='inner')

In [50]:
empresas_join.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: integer (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: integer (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: integer (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: integer (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: integer (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: integer (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [51]:
empresas.createOrReplaceTempView("empresasView")

In [53]:
spark.sql("SELECT * FROM empresasView").show()

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|        403|         ALUPE REPRESENTAC...|             2240|                         49|                      0.0|               1|                       null|
|       2498|         JCA COMERCIO E RE...|             2062|                         49|                      0.0|               5|                       null|
|       4599|         ROSA MARIA DE PAI...|             2135|                         50|                      0.0|               5|                       null|
|      13090|         ADELINA ZANETI PA...|             2135|                         50|                      0.0|               1|                       null|
|      16903|         PERSONNALITE SPR ...|             2224|                         43|                      0.0|               5|                       null|
|      18434|         RIP HOTNESS CONFE...|             2062|                         49|                      0.0|               1|                       null|
|      24304|                E A R ESTEVES|             2135|                         50|                      0.0|               5|                       null|
|      26797|         SOM CAPITAL COM A...|             2062|                         49|                      0.0|               1|                       null|
|      26829|         LUCIANO FERREIRA ...|             2135|                         50|                      0.0|               5|                       null|
|      34637|          HASSAN KASSEM BAZZI|             2135|                         50|                      0.0|               5|                       null|
|      52803|         PEDREIRA ARAGUAIA...|             2062|                         49|                3200000.0|               5|                       null|
|      57154|         RECATURBO RETIFIC...|             2062|                         49|                      0.0|               1|                       null|
|      57764|         CEREALISTA VICK LTDA|             2062|                         49|                      0.0|               5|                       null|
|      61019|         DUVALLE CONSTRUTO...|             2062|                         49|                      0.0|               5|                       null|
|      64377|         HELIO NIESPODZINS...|             2062|                         49|                      0.0|               1|                       null|
|      67235|         THERMOSTATO CONFE...|             2062|                         49|                      0.0|               5|                       null|
|      67869|         AUTO PECAS PERUIB...|             2062|                         49|                  20000.0|               1|                       null|
|      73519|         CEREALISTA GUARAN...|             2062|                         49|                      0.0|               5|                       null|
|      73603|         MARIA DO SOCORRO ...|             2135|                         50|                      0.0|               5|                       null|
|      73714|         LEO EINSTEIN DE S...|             2135|                         50|                      0.0|               5|                       null|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 20 rows

In [54]:
spark.sql(
    """
    SELECT *
    FROM empresasView
    WHERE capital_social_da_empresa = 50
    """
).show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   17246115|         RENATO BARBOZA DE...|             2135|                         50|                     50.0|               1|                       null|
|   19319585|         NEUZA JACINTA BAR...|             2135|                         50|                     50.0|               1|                       null|
|   19553618|         JACILAINE BARBOSA...|             2135|                         50|                     50.0|               1|                       null|
|   19573045|         MARIA SANTIAGO BA...|             2135|                         50|                     50.0|               1|                       null|
|   23322855|         CAROLINA MARI PAS...|             2135|                         50|                     50.0|               1|                       null|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [55]:
empresas.write.parquet(
    path='resultados',
    mode='overwrite'
)

23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
23/06/22 20:23:37 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
23/06/22 20:23:39 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [56]:
empresas_parquet = spark.read.parquet(
    'resultados'
)

In [57]:
empresas_parquet.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)